html, body, #root {
    /* we don't want any of these to scroll */
    overflow: hidden;
    height: 100%;
    font-family: sans-serif;
}

/* this class is used to hide the '*' on the file input */
.no-after::after {
    display: none !important;
}
